{:paths ["src" "dev"]
 :deps {babashka/fs {:mvn/version "0.4.19"}
        cheshire {:mvn/version "5.8.1"}
        com.cognitect.aws/api {:mvn/version "0.8.686"}
        com.cognitect.aws/endpoints {:mvn/version "1.1.12.504"}
        com.cognitect.aws/s3 {:mvn/version "848.2.1413.0"}
        com.flickr4java/flickr4java {:mvn/version "3.0.1"}
        selmer/selmer {:mvn/version "1.12.59"}}}
